---
import ProjectCard from "./project-card.astro";
import type { Tech } from "@/types/tech";
import { TypographyH2, TypographyMuted } from "./typography";

interface Project {
    title: string;
    description: string;
    techStack: Tech[];
    livePreviewUrl?: string;
    githubUrl?: string;
}

const projects: Project[] = [
    {
        title: "Zaboc",
        description: "A document generator for szabist students.",
        techStack: [
            "Svelte",
            "Go",
            "Workers",
            "Docker",
            "shadcn/ui",
            "Tailwind",
            "TypeScript",
        ],
        livePreviewUrl: "https://zabdoc.xyz",
        githubUrl: "https://github.com/hammadmajid/zabdoc",
    },
    {
        title: "Silroad",
        description: "It's just another CRUD app but fully serverless.",
        techStack: [
            "Svelte",
            "Skeleton",
            "Workers",
            "SQLite",
            "Drizzle",
            "Tailwind",
            "TypeScript",
            "Zod",
        ],
        livePreviewUrl: "https://silroad.space",
        githubUrl: "https://github.com/hammadmajid/silroad",
    },
    {
        title: "Fintraq",
        description: "Finance tracking for the 21st centuray.",
        techStack: [
            "Next.js",
            "PostgreSQL",
            "Drizzle",
            "shadcn/ui",
            "Zod",
            "Resend",
            "Tailwind",
            "TypeScript",
        ],
        livePreviewUrl: "https://fintraq.xyz",
        githubUrl: "https://github.com/hammadmajid/fintraq",
    },
    {
        title: "Pubment",
        description: "Its like Twitter, but faster and without ads.",
        techStack: [
            "Node.js",
            "Express",
            "MongoDB",
            "TypeScript",
            "React Router",
            "shadcn/ui",
            "Tailwind",
            "Zod",
            "Terraform",
            "Ansible",
            "Docker",
            "Caddy",
        ],
        livePreviewUrl: "https://pubment.xyz",
        githubUrl: "https://github.com/hammadmajid/pubment",
    },
    {
        title: "Prepen",
        description: "E-commerce store the way it should be done.",
        techStack: [
            "Next.js",
            "TypeScript",
            "MUI",
            "Supabase",
            "Prisma",
            "tRPC",
            "Clerk",
            "Sanity",
            "Stripe",
            "Vercel",
        ],
        livePreviewUrl: "https://prepen.bine.codes",
        githubUrl: "https://github.com/hammadmajid/prepen",
    },
];
---

<section id="projects">
    <div class="mb-6 fade-in">
        <TypographyH2>Projects</TypographyH2>
        <TypographyMuted class="text-muted-foreground mb-6">
            Here are some of the projects I've worked on recently.
        </TypographyMuted>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        {
            projects.map((project, index) => (
                <div class={`fade-in-delayed ${index % 2 === 0 ? 'fade-in-left' : 'fade-in-right'}`}>
                    <ProjectCard
                        title={project.title}
                        description={project.description}
                        techStack={project.techStack}
                        livePreviewUrl={project.livePreviewUrl}
                        githubUrl={project.githubUrl}
                    />
                </div>
            ))
        }
    </div>
</section>
