---
import ProjectCard from "./project-card";
import type { Tech } from "./tech-list";
import { TypographyH2 } from "./typography";

interface Project {
    title: string;
    description: string;
    techStack: Tech[];
    livePreviewUrl?: string;
    githubUrl?: string;
}

const projects: Project[] = [
    {
        title: "Fintraq",
        description:
            "A modern finance tracking app built with Next.js, PostgreSQL, Drizzle, and shadcn/ui.",
        techStack: ["Next.js", "PostgreSQL", "Drizzle", "shadcn/ui", "Zod", "Resend", "Tailwind", "TypeScript"],
        livePreviewUrl: "https://fintraq.xyz",
        githubUrl: "https://github.com/hammadmajid/fintraq",
    },
    {
        title: "Pubment",
        description:
            "Social Media Platform - MERN with Monorepo + IaC with Terraform, Ansible and Docker",
        techStack: [
            "Node.js",
            "Express",
            "MongoDB",
            "TypeScript",
            "React Router",
            "shadcn/ui",
            "Tailwind",
            "Zod",
            "Terraform",
            "Ansible",
            "Docker",
            "Caddy",
        ],
        livePreviewUrl: "https://pubment.xyz",
        githubUrl: "https://github.com/hammadmajid/pubment",
    },
    {
        title: "Prepen",
        description:
            "A modern, full-stack e-commerce platform built with Next.js, featuring product listings, shopping cart functionality, order processing, and user authentication.",
        techStack: [
            "Next.js",
            "TypeScript",
            "MUI",
            "Supabase",
            "Prisma",
            "tRPC",
            "Clerk",
            "Sanity",
            "Stripe",
            "Vercel",
        ],
        livePreviewUrl: "https://prepen.bine.codes",
        githubUrl: "https://github.com/hammadmajid/prepen",
    },
];
---

<section id="projects">
    <div class="mb-6">
        <TypographyH2>Projects</TypographyH2>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        {
            projects.map((project) => (
                <ProjectCard
                    title={project.title}
                    description={project.description}
                    techStack={project.techStack}
                    livePreviewUrl={project.livePreviewUrl}
                    githubUrl={project.githubUrl}
                    client:load
                />
            ))
        }
    </div>
</section>
